<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PersonalInformation</display-name>
<servlet>
 <servlet-name>login</servlet-name>
 <servlet-class>personalinfo.PersonalInfo</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>login</servlet-name>
 <url-pattern>/input</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>display</servlet-name>
 <servlet-class>personalinfo.Info</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>display</servlet-name>
 <url-pattern>/info</url-pattern>
 </servlet-mapping>
</web-app>